@model ImportBuyerDto
@{
    ViewData["Title"] = "نرم افزار واسط سامانه مودسان گارنِت";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string alert = ViewBag.msg;
}


<div class="card">

    <h5 class="card-header heading-color">
        ایجاد صورتحساب از فایل اکسل
    </h5>
    <div class="card-body">
        <div class="alert alert-primary mb-3" role="alert">
            کاربر گرامی! جهت ایجاد صورتحساب به صورت گروهی از فایل اکسل، می بایست ابتدا اطلاعات فروش خود را در قالب فایل نمونه و مطابق با دستورالعمل آماده کنید. جهت دریافت فایل نمونه
            <a href="~/sticFiles/Garnet_SampleInvoices.xlsx"><strong class="text-warning">اینجــا</strong></a>
            کلیک کنید.
        </div>

        <form asp-action="ImportInvoice" asp-controller="Import" asp-area="" method="post" enctype="multipart/form-data">
           
            <div class="row mt-1">
                <div class="col-12c mb-4">
                    <label class="form-label">انتخاب فایل اکسل </label>
                    <input type="file" class="form-control" asp-for="ExcelFile" accept=".xls, .xlsx" placeholder="انتخاب اکسل حاوی اطلاعات صورتحساب های فروش" />
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn btn-primary mb-2" value="دریافت و ثبت اطلاعات" />
                    <a class="btn btn-warning mb-2" asp-action="SaleInvoices" asp-controller="Sale" asp-area="Sale">بازگشت به مدیریت صورتحساب ها</a>
                </div>
            </div>
        </form>

        <div>

            @if (!string.IsNullOrEmpty(alert))
            {
                <div class="alert alert-info alert-dismissible mt-4" role="alert">
                    <h6 class="alert-heading mb-1"><i class="bx bx-xs bx-detail me-2"></i>کاربر گرامی !</h6>
                    <span>
                        @Html.Raw(alert)
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            }


        </div>
    </div>
</div>

