
@{
    ViewData["Title"] = "DestributeService";
    Layout = "~/Views/Shared/_AppRepLayout.cshtml";
}

<div class="container">
    <h4>خدمات توزیع بار  </h4>
     <span>بارنامه های وارده غیرسیستمی</span>
</div>

