@using Stimulsoft.Report.Mvc
<link href="~/css/font.css" rel="stylesheet" />
@{
    Layout = null;
    ViewData["Title"] = "ترازنامه";
}

<div class="text-center printArea">

    @Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
{
    Actions = {
    GetReport="GetReport_Print_Balance",
    ViewerEvent= "ViewerEvent",
    },
    Appearance ={
    FullScreenMode=true,

    }
})

</div>