 @model HubDto

<div class="modal-dialog dataentry-modal">
    <div class="modal-content dataentry">
        <div class="dataentry-title">
            <span class=""> ویرایش اطلاعات هاب </span>

        </div>
        <form asp-action="UpdateHubInfo" asp-controller="Hub" asp-area="Courier" method="post">
            <input type="hidden" asp-for="HubId" value="@Model.HubId" />
            <div class="row dataentry-controls">
                <div class="col-md-6 garnet-section garnet-section-info">
                    <div class="garnet-section-header">
                        <h6>اطلاعات هاب</h6>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="HubName" class="form-label"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="HubName" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <label class="form-label" asp-for="CityId"></label>
                        <select asp-for="CityId" class="form-select form-select-sm" asp-items="ViewBag.Cities">
                            <option value="null">انتخاب شهر ... </option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-1">
                        <label asp-for="HubAddress" class="form-label"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="HubAddress" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="Longitude" class="form-label"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Longitude" value="0" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <label asp-for="Latitude" class="form-label"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Latitude" value="0" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <div class="widget-info fw">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" asp-for="IsActive" checked>
                                <label class="form-check-label" asp-for="IsActive">
                                    فعال
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" dataentry-buttons-container container-row">
                <div class="dataentry-buttons">
                    <a href="javascript:void(0)" class="btn btn-primary accAjaxSubmit"> ذخیـره</a>
                    <button type="reset" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close">
                        انصراف
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>