@model TafsilDto

<div class="modal-dialog modal-lg modal-simple">

    <div class="modal-content p-3 p-md-5">
        <div class="modal-header">
            <div class="alert alert-primary alert-dismissible d-flex align-items-center" role="alert">
                <h5>
                    <i class="bx bx-xs bx-command me-2 text-warning"></i>
                    ویرایش حساب تفصیلی
                </h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class=" mb-4 mt-0 mt-md-n2">
                <form asp-action="UpdateTafsil" asp-controller="AccCoding" asp-area="" method="post" class="mt-4 appform1">
                      <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="row mb-1">
                        <label class="col-sm-3 col-form-label" asp-for="Name"></label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label" asp-for="Description"></label>
                        <div class="col-sm-9">
                            <textarea rows="3" asp-for="Description" class="form-control" placeholder="..."></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label">گروه (ها)</label>
                        <div class="col-sm-9 select2-dark">
                            <select asp-for="intGroupsId" class="select2 form-select" multiple asp-items="ViewBag.Groups">
                                <option value="0">انتخاب کنید .. </option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row d-grid mt-3">
                        <input type="button" class="btn btn-primary mt-2 accAjaxSubmit" value="ایجاد" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="~/js/forms-selects.js"></script>
