 @model Cu_ServiceDto

<div class="modal-dialog dataentry-modal">
    <div class="modal-content dataentry">
        <div class="dataentry-title">
            <span class=""> ارسال لینک پرداخت </span>

        </div>
   
    </div>
</div>