
@media print {
    @page {
        size: 72mm 72mm;
        margin: 0;
    }

    .page-break {
        page-break-after: always;
    }
}

body {
    width:72mm;
    height:72mm;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    direction:rtl;
    text-align:right;
}

.label {
    position:relative;
    width: 71mm;
    height: 71mm;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 5px;
}
img {
    display: block;
    max-width: 90px;
    margin-inline: auto;
    margin-top: 2px;
}
    .header h2 {
        padding: 0;
        text-align: center;
        margin:0;
        margin-top:-5px;
    }
    .qr{
        position:absolute;
        top:5px;
        left:5px;
    }
.tracking {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.barcode {
    text-align: center;
}

.info {
    display:flex;
    font-size: 13px;
    text-align: center;
    flex-wrap:nowrap;
}
.info-item {
    flex-grow: 1;
    padding-block: 5px;
    border-bottom: 1px solid #000;
    width: 50%;
    max-width: 50%;
}
    .info-item:first-child {
        border-right: 1px solid #000;
    }

.footer {
   font-size:11px;
}
    .footer ul{
        list-style:none;
    }

    small {
        text-align: center;
        display: block;
    }

