 @model VmChangePass

<form asp-action="ChangePassword" asp-controller="usermanager" asp-area="" method="post">
    <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />
    <div class="mb-3">
        <label class="form-label" asp-for="OldPassword">رمز عبور قدیمی</label>
        <input class="form-control" asp-for="OldPassword" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="NewPassword">رمز عبور جدید</label>
        <input class="form-control" asp-for="NewPassword" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label"  asp-for="ConfirmPassword">رمز عبور را تایید کنید</label>
        <input class="form-control" asp-for="ConfirmPassword" type="text">
    </div>

    <button class="btn btn-primary d-block w-100" type="submit">رمز عبور را به روز کنید</button>
</form>