@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>کیهان پست</title>
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/boxicons.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/fontawesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/flag-icons.css")">

    <link href="~/css/bootsw/bootstrap.solar.rtl.min.css" rel="stylesheet" />
    <link href="~/css/paymentpage.css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <div class="payment-card">
            <div class="payment-card-header bg-success">
                <div class="logo">
                    <img src="~/img/Logos/11.png" alt="کیهان پست" />
                    <h1>کیهان پُست</h1>
                </div>
                <div>
                    <i class="bx bx-check"></i>
                    <div class="pay-result">پرداخت موفق</div>
                    <div class="amount"> <h5>12,036,900</h5> <span>ريال</span></div>
                </div>


            </div>
            <div class="payment-card-body">
                <ul>
                    <li><label>شماره تراکنش</label> <span></span></li>
                    <li><label>زمان</label> <span></span></li>
                    <li><label>نتیجه تراکنش</label> <span></span></li>
                    <li><label>مبلغ</label> <span></span></li>
                    <li><label>شماره پیگیری</label> <span></span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
