
@{
    ViewData["Title"] = "پرداخت آنلاین";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img   src="~/img/backgrounds/PPSUG.png" style="margin:50px auto; display:block" />
<h1 class="text-center text-info mt-2">با سرویس های متنوع <strong class="text-warning mx-2">کیهان پست</strong> براحتی پرداخت کنید</h1>
